body{
 background 	: white;
 	margin 		: 0px;
 	padding 	: 0px;
 }
 
 #wrap{
 	width 	: 1024px;
 	margin  : 0 auto;
 	border 	: solid 1px black;
 }

 nav{
 	background  : black;
 	float 		: left;
 	width 		: 100%;
 }
 
 nav ul{
 	margin 		: 0px;
 	padding 	: 0px;
 	list-style 	: none;
 	float 		: left;
 	width 		: 100%;
 	border 		: solid 0px red;
 }
 
 nav ul li{
 	color 		: white;
 	text-align 	: center;
 	width 		: 25%;
 	float 		: left;
 	padding-top : 25px;
 	padding-bottom : 25px;
 	border 		: solid 0px red;
 }
 
 nav ul li:hover{
 	background 	: white;
 	color 		: black;
}
 
 #banner{
 	background 	: orange;
 	height 		: 150px;
 	clear 		: both;
 

  
 }
 
 #banner {
background-image:url(http://www.intrawallpaper.com/static/images/518164-backgrounds.jpg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
 
 }
 .column{
 	width 	: 50%;
 	float 	: left;
 	background : yellow;
 	min-height : 50vh;
 	text-align: center;

 }
 .column img{
 	width: 50vh;
 	padding: 30px;
 	position: center;
 }

p, h1 {text-align: left;

}
 
 .column p, .column h1 {
 	padding:  10px

 }
 footer{
 	clear 		: both;
 	text-align 	:center;
 	font-size : 8pt;
 	font-weight : bold;
 } 